# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres.azosdompooabdgpyexxs:skyligth-database@aws-0-us-east-1.pooler.supabase.com:5432/postgres"
GMAIL="i06047071@gmail.com"
PASSWORD="piwjakaqtxeetqmt"
JWT_SECRET="SECRET"
CLOUDINARY_CLOUD_NAME='dupcxxv9f'
CLOUDINARY_API_KEY='343359933496382'
CLOUDINARY_API_SECRET='DcOJYgg71XYOKqE5VaKjk3hWb00'
NEXT_PUBLIC_API="https://skylightlending-landing-next.vercel.app"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6b3Nkb21wb29hYmRncHlleHhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxODYzMzMsImV4cCI6MjA0ODc2MjMzM30.36eXSG48h5ic-Ekz5Rm1tmVY92xZl5EuVx376MO7RX0"
NEXT_PUBLIC_SUPABASE_URL="https://azosdompooabdgpyexxs.supabase.co"
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="db.azosdompooabdgpyexxs.supabase.co"
POSTGRES_PASSWORD="skyligth-database"
POSTGRES_PRISMA_URL="postgres://postgres.azosdompooabdgpyexxs:skyligth-database@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_URL="postgres://postgres.azosdompooabdgpyexxs:skyligth-database@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_URL_NON_POOLING="postgres://postgres.azosdompooabdgpyexxs:skyligth-database@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
POSTGRES_USER="postgres"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6b3Nkb21wb29hYmRncHlleHhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxODYzMzMsImV4cCI6MjA0ODc2MjMzM30.36eXSG48h5ic-Ekz5Rm1tmVY92xZl5EuVx376MO7RX0"
SUPABASE_JWT_SECRET="DM7pngPdstKi2tRbHlHEJkP6FiCbJJzF5zot+uJq8yhp/I1wYsM2DHXhg3F8ZO4BSfcN7CnooUJ5JUlMwCL0YA=="
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6b3Nkb21wb29hYmRncHlleHhzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMzE4NjMzMywiZXhwIjoyMDQ4NzYyMzMzfQ.qcSxhQN7wPOi6KGkjaiCheJBLsRx297CwUTLp60zbnU"
SUPABASE_URL="https://azosdompooabdgpyexxs.supabase.co"